/* #fdff00 
#000000
  #242424
    #ffed39
    	#3a486f blue
*/
h1 {
  text-align: center;
}
html {
  height: 100%;
  background: #fAA60A;
}
#main-game-section {
  background: #fAA60A;
  color: white;
}
#characters-section {
  background: #002A47;
}
.character {
  border: solid 1px #fAA60A;
  margin: 10px;
  background: #50667F;
}
.character-image {
  width: 50%;
  display: block;
  margin: auto;
}
#gameMessage {
  text-align: center;
  font-size: 10px;
  color: #002A47;
}
#attack-button {
  visibility: hidden;
}
#restart-button {
  visibility: hidden;
}
.jumbotron div {
  font-size: 24px;
}
