/* #fdff00 
#000000
  #242424
    #ffed39
    	#3a486f blue
*/
#characters-section {
  background: #002A47;
  color: white;
}
.character {
  border: solid 1px #fAA60A;
  margin: 10px;
  background: #50667F;
}
.character-image {
  width: 150px;
}
#gameMessage {
  text-align: center;
  font-size: 10px;
}
#attack-button {
  visibility: hidden;
}
#restart-button {
  visibility: hidden;
}
